{
  "plugins": [
    "transform-class-properties",
    "transform-react-jsx-source",
    "transform-runtime"
  ],
  "presets": ["babel-preset-expo", "es2015", "es2016", "es2017", "jest"],
  "env": {}
}